.userTable {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 20px;
}

.userTable th,
.userTable td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  font-size: 16px;
}

.userTable th {
  background: #2d67ff;
  color: white;
}

.userTable tr:hover {
  background: #f2f6ff;
}

.updateBtn {
  background: #ffaa00;
  color: #fff;
  border: none;
  padding: 6px 12px;
  margin-right: 6px;
  border-radius: 6px;
  cursor: pointer;
}

.deleteBtn {
  background: #ff3333;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.updateBtn:hover {
  background: #ff9900;
}
.deleteBtn:hover {
  background: #e60000;
}
