.adminContainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.adminTitle {
  text-align: center;
  font-size: 32px;
  margin-bottom: 20px;
  font-weight: bold;
}

.usersGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.userCard {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease;
}

.userCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.377);
}

.username {
  font-size: 22px;
  margin-bottom: 5px;
  color: #222;
}

.useremail {
  color: #444;
  margin-bottom: 5px;
}

.userrole {
  color: #ff5555;
  font-weight: bold;
}
