.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #242424;
  padding: 0px 30px;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.link {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.2s ease;
}

.link:hover {
  color: #ff5555;
}

.logoutBtn {
  background: #ff4444;
  color: white;
  padding: 7px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s ease;
}

.logoutBtn:hover {
  background: #d93636;
}
